body{
    background-color:slategray;
    text-align: center;
    margin: 1em;
}

.row{
    margin-top:1em;
    background-color: blanchedalmond;
}

.kpercent {
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
}

.container{
    contain: layout inline-size;
    background-color: brown;
}

.card{
    background: white;
    padding:1em;
    margin-top: 2em;
    margin-left: 1em;
    margin-bottom: 2em;
    margin-right: 1em;
}

.col-3{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 1em;
}

.gfg {
    width:auto;
    text-align:center;
    padding:20px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

